$surface-strongest: rgb(38, 38, 38);
$surface-strong: rgb(40, 40, 40);
$surface-moderate: rgb(42, 42, 42);
$surface-weak: rgb(44, 44, 44);
$surface-weakest: rgb(46, 46, 46);

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(40, 40, 40);
$black-strong: rgba(40, 40, 40, 40.87);
$black-moderate: rgba(40, 40, 40, 0.42);
$black-weak: rgba(40, 40, 40, 0.15);
$black-weakest: rgba(40, 40, 40, 0.06);

$red-normal: rgb(255, 103, 134);
$red-light:rgb(255, 148, 170);
$orange-normal: rgb(255, 166, 116);
$orange-light: rgb(255, 189, 152);
$yellow-normal: rgb(255, 222, 148);
$yellow-light: rgb(255, 230, 173);
$green-normal: rgb(146, 198, 122);
$green-light: rgb(178, 215, 161);
$cyan-normal: rgb(148, 226, 213);
$cyan-light: rgb(188, 237, 229);
$blue-normal: rgb(159, 226, 230);
$blue-light: rgb(187, 234, 237);
$accent-normal: rgb(226, 191, 255);
$accent-light: rgb(224, 199, 239);
$pink-normal: rgb(255, 165, 248);
$pink-light: rgb(255, 183, 249);

$accent-primary: $accent-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
