@use '../colors';
@use "../config";

actionbar {
  padding: config.$spacing-medium;
  background: colors.$surface-strong;
  color: colors.$white-strong;
  border-top: 1px solid colors.$white-weakest;
}
