@use '../colors';

iconview {
  background: colors.$surface-moderate;
  color: colors.$white-strong;
  padding: 0.3em;

  &:selected {
    color: colors.$white-strong;
    background: colors.$white-weak;
    border-radius: 0.5em;
  }
}
