@use '../colors';

iconview {
  background: colors.$surface-moderate;
  color: colors.$white-strong;
  padding: 0.3em;

  &:selected {
    color: colors.$white-strongest;
    background: colors.$accent-primary;
    color: colors.$black-moderate;
    border-radius: 0.5em;
  }
}
