@use '../colors';
@use 'sass:color';
@use '../config';

list {
  background: colors.$surface-strong;

  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:hover {
      background: color.change(colors.$accent-light, $alpha: config.$tint-medium);
      color: #343434;
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}
