@use '../colors';
@use 'sass:color';
@use '../config';

list {
  background: colors.$surface-strong;

  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:hover,&:selected {
      background: colors.$accent-light;
      color: colors.$black-strong;
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}
