@use '../colors';
@use 'sass:color';
@use '../config';

list {
  background: colors.$surface-strong;

  row {
    background: colors.$surface-strong;
    padding: config.$spacing-medium;
    &:selected {
      background: colors.$accent-normal;
      color: colors.$black-strong;
    }
    &:hover {
      background: colors.$surface-weakest;
      color: colors.$white-strong;
    }
  }

  > label {
    padding: config.$spacing-small;
  }
}
