@use '../colors';
@use '../config';

menu {
  background: colors.$surface-weak;
  menuitem {
    padding: config.$spacing-small;
    &:hover {
      background: colors.$yellow-normal;
      color: colors.$black-strong;
    }
  }
}
