@use '../colors';
@use '../config';

menu {
  background: colors.$surface-weak;
  border-radius: 3px;
  border: 2px solid colors.$accent-light;
  padding: 4px;
  menuitem {
    padding: config.$spacing-small;
    check, radio {
      &:first-child {
      margin-right: 0.5em;
      }
      &:last-child {
      margin-left: 0.5em;
    }
  }

    &:hover {
      background: colors.$yellow-normal;
      color: colors.$black-strong;
    }
  }
  arrow {
    min-height: 1.5em;
    min-width: 1.5em;
    -gtk-icon-source: -gtk-recolor(url("../assets/svg/arrow-right.svg"));
  }
}
