@use '../colors';
@use '../config';

menu {
  background: colors.$surface-weak;
  border-radius: 3px;
  // border: 2px solid colors.$accent-light; // looks ugly ;-;
  border: 2px solid transparent;
  padding: 4px;
  menuitem {
    padding: calc(config.$spacing-small - 0.03em);
    &:hover {
      background: transparentize(colors.$accent-normal, 0.3);
      color: colors.$black-strong;
    }
  }
  /*arrow {
    padding: 0.1em;
  }*/
  arrow.left, arrow.right {
    min-height: 1em;
    min-width: 1em;
  }
  arrow.top, arrow.bottom{
    min-height: 1.5em;
    min-width: 1.5em;
  }
  arrow.left {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
  }
  arrow.right {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  }
  arrow.top {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
  }
arrow.bottom {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  }
}
