@use '../colors';

progressbar {
  trough {
    background: colors.$white-weakest;
     border-radius: 1em;
     min-height: 0.3em;
     min-width: 0.3em;
    progress {
      background: colors.$yellow-light;
      border-radius: 1em;
      min-height: 0.3em;
      min-width: 0.3em;
    }
  }
}
