@use '../colors';

scale {
  padding: 8px 0;

  contents {

    trough {
      background: colors.$white-weak;
      border-radius: 1em;
      slider {
        background: colors.$yellow-light;
        padding: 8px;
        margin: -6px;
        border-radius: 1em;
      }
      highlight {
        border-radius: 1em;
        background: colors.$accent-primary;
      }
    }
  }

  // TODO: marks can be at the top or bottom, maybe also on the right or left depending on scale.horizontal/vertical
  marks {
    mark {
      padding-top: 5px;
      indicator {
        color: colors.$white-moderate;
        min-height: 8px;
        min-width: 1px;
      }
    }
  }

  &:disabled { opacity: 0.3; }
}
