@use '../colors';
@use '../config';

toolbar, .toolbar {
  background: colors.$surface-strong;
  color: colors.$black-strong;
  padding: config.$spacing-medium;

  &.osd {
    background: colors.$white-weakest;
    padding: config.$spacing-medium;
    border-radius: config.$radius;
  }
  
}
